.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;    

}
.card {
    width: 600px;
    height: 400px;
    display: inline-block;
    text-align: center;
    margin: 10px;
}